<div class="mask" style="background-color:rgb(11, 195, 228);">
    <div class="d-flex flex-row">
        <!-- <div class="">
            <input class="form-control-sm" type="text" placeholder="votre distination" [(ngModel)]="searchTerm"
                (change)="search()">
            <button (click)="search()" rounded="true" class="btn btn-outline-blue btn-md my-0 ml-sm-2">Search</button>
        </div> -->
        <div class="input-group mb-5 ">
            <div class="form-outline-sm ">
                <input type="search" placeholder="votre destination" class="form-control w-1 p-3 h-3 mt-2" height="10px"
                    [(ngModel)]="searchTerm" (change)="search()" />
            </div>
            <button  type="button" class="btn btn-primary mw-8" (click)="search()">
                <i class="fas fa-search "></i>
            </button>
       
        <div class="md-form md-outline input-with-post-icon datepicker">
            <input placeholder="Select date" type="date" class="form-control w-1 p-3 h-2 mt-1">
            <label>date arivée</label>
        </div>
        <div class="md-form md-outline input-with-post-icon datepicker">
            <input placeholder="Select date" type="date" class="form-control w-1 p-3 h-2 mt-1">
            <label>date depart</label>
        </div>
        </div>
    </div>
</div>