<!--<app-navbar></app-navbar>-->
<div id="container" class="bg-image">

  <section class=" gradient-form py-5 h-500" id="login">

    <div class="d-flex justify-content-center">
      <div class="card  cards rounded-3 text-white  text-center cardStyle">
        <div style="margin-top: 10px;">
          <div class="text-center">
            <br>
            <img src="https://images.pexels.com/photos/2901209/pexels-photo-2901209.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width: 350px; " class="rounded-1" alt="logo">
            <h4 class="mt-1 mb-5 pb-1">Best Tunisia Travel</h4>

          </div>

          <div class="container center ">
            <div class="row justify-content-md-center">
              <div class="col-md-4 center">
                <form class="form-group center">
                  <div class="d-flex justify-content-center">
                    <label> Adress:</label>
                    <input type="text" name="username" class="form-control" placeholder="admin" style="width: 200px; height: 30px;"
                      [(ngModel)]="user.username">
                  </div>
                  <br>
                  <div class="d-flex justify-content-center">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="admin"
                      style="width: 200px; height: 30px;" [(ngModel)]="user.password">
                    <!--<i class="fa fa-eye-slash"></i>--> <br> <br>
                  </div>
                  <br>
                  <div >
                    <button (click)="onLoggedin()" style="width: 150px; " class="btn btn-primary rounded btn-sm text-center">Connexion</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!--<app-footer></app-footer>-->