#container {
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 20vh;
    margin-top: -10vh;
    /*background: linear-gradient(90deg, rgba(213,217,222,1) 0%, rgba(174,181,186,1) 29%, rgba(177,217,244,1) 64%, rgba(83,131,140,1) 100%);*/
  }
.cards{
    background-color: rgba(0, 0, 0, 0.5);
   
}