<app-caroussel></app-caroussel>
<!--Dorrrrraaaa-->
<div *ngIf="authService.isloggedIn" class="mt-4">

</div>
<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Found your destination" aria-label="Search"
        aria-describedby="search-addon" class="form-control" #input style="height: 52px;" />
    <button type="button" class="btn btn-outline-primary" (click)="search(input.value)"
        style="height: 46px;">search</button>
</div>


<!--Boutton ajouter  hotel-->
<div *ngIf="authService.isloggedIn" >
    <div class="row">
        <div class="col-md-2 text-right">
            <button type="button" mdbBtn color="primary" class="waves-light" (click)="basicModal.show()" mdbWavesEffect>
                <i class="fa fa-plus"></i>
                New Hotel</button>
        </div>
        <div class="col-md-10 text-right ">
            <button type="button" mdbBtn color="primary" class="waves-light bouton" data-toggle="modal"
                data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>
                <i class="fa fa-plus"></i>
                View Reservations</button>
        </div>
        <div class="col-md-12 text-center">
            <h1>List of Hotels</h1>
        </div>
    </div>
</div>

<!--List Reservation-->
<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-primary modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="dark-grey-text text-center modal-title w-100 couleur" id="myModalLabel">
                    Reservation List
                </h1>
                <button type="button" class="close" data-dismiss="modal" mdbBtn color="primary" aria-label="Close"
                    (click)="frame.hide()">
                    <span aria-hidden="true" style="font-size: 20px;">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Client name</th>
                            <th>Phone</th>
                            <th>Hotel</th>
                            <th>Arriv Date</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let l of listReservation; index as i">
                        <tr>
                            <th scope="row">{{i+1}}</th>
                            <td>{{l.first_name}} {{l.last_name}}</td>
                            <td>{{l.phone_number}}</td>
                            <td></td>
                            <td>{{l.dateArivee}}</td>
                            <td></td>
                            <td>
                                <a (click)="SupprimerReservation(l.id)">
                                    <mdb-icon fas icon="times"></mdb-icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Ajouter Hotel-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-notify modal-primary " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" mdbBtn color="primary" aria-label="Close"
                    (click)="basicModal.hide()">
                    <span aria-hidden="true" style="font-size: 20px;">×</span>
                </button>

                <h1 class="dark-grey-text text-center modal-title w-100 couleur" id="myModalLabel">
                    <span> Add new Hotel</span>
                </h1>
            </div>
            <div class="modal-body">
                <app-ajouter-hotel></app-ajouter-hotel>
            </div>
        </div>
    </div>
</div>

<!--Hotels Cards-->

<div class="row px-3 justify-content-between " id="a" data-mdb-toggle="animation" data-mdb-animation="pulse">
    <div class="col-4 mb-4 "  *ngFor=" let t of listHotel; let i=index;">
        <div class="card  rounded-3 height  mb-3" >
            <img class="card-img-top p-0 d-flex justify-content-center " [src]="t.image" alt="Card image cap">
            <div class="ribbons-wrapper" *ngIf="t.promotion">
                <div class="ribbon">
                    <span class="ribbon1"><span>Discount {{t.pourcentage}}%</span></span>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title fw-bold fs-5 text-muted ff-oswald" style="height: 50px;" >{{t.nom|titlecase}}</h5>
                    <ngb-rating id="star" [rate]="t.nbEtoiles">
                    </ngb-rating>
                </div>

                <p class="mb-3 card-text fas fa-map-marker-alt">{{t.lieu|titlecase}}</p>

               
                <div class="d-flex justify-content-between mb-2">
                    <div class="font-weight-bold">


                        <div [hidden]="!t.promotion">
                            <span class="fw-bold fs-4 text-dark me-1 "> Price:</span>
                            <span class="fw-bold fs-5 ff-oswald text-dark">{{t.prix-(t.prix*t.pourcentage/100)}}</span>
                            <span class="text-dark ms-1 fs-7 ">TND</span>
                            <br>
                            <span class="fw-bold fs-5 ff-oswald text-dark"
                                style="text-decoration:line-through; ">{{t.prix}}</span>
                            <span class="text-dark ms-1 fs-7 ">TND</span>

                        </div>
                        <div [hidden]="t.promotion">
                            <span class="fw-bold fs-4 text-dark me-1 "> Price:</span>
                            <span class="fw-bold fs-5 ff-oswald text-dark">{{t.prix}}</span>
                            <span class="text-dark ms-1 fs-7 ">TND</span>

                        </div>
                        <br>
                    </div>
                    <div *ngIf="!authService.isloggedIn" class="mb-3">
                        <a class="btn btn-primary " (click)="getNavigation('detail', t.id)"> <i
                                class="fas fa-info-circle"></i>Details</a>
                    </div>

                    <!--Page Admin-->
                    <div *ngIf="authService.isloggedIn">
                        <!--Boutton details-->
                        <a class="btn btn-primary btn-sm" routerLink="/detail" (click)="getNavigation('detail', t.id)">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <!--Boutton Modifier-->
                        <button type="button" mdbBtn class="relative waves-lightbtn btn-warning btn-sm"
                            (click)="basicModal2.show()" mdbWavesEffect (click)="onModifier(t.id,t)">

                            <i class="fa fa-pencil"></i>
                        </button>
                        <!--Boutton Supprimer-->
                        <button type="button" mdbBtn class="waves-light btn btn-sm btn-danger" data-toggle="modal"
                            data-target="#basicExample" (click)="frame.show()" mdbWavesEffect> <i
                                class="fa fa-trash"></i>
                        </button>

                        <!--Confirmer supprimer-->
                        <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1"
                            role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
                                <div class="modal-content text-center">
                                    <div class="modal-header d-flex justify-content-center">
                                        <p class="heading">Are you sure?</p>
                                    </div>
                                    <div class="modal-body">
                                        <mdb-icon fas icon="bell" size="4x" class="animated rotateIn"></mdb-icon>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button mdbBtn color="primary" class="waves-effect" mdbWavesEffect
                                            (click)="onSupprimer(t.id)">Yes</button>
                                        <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect
                                            data-dismiss="modal" (click)="frame.hide()"
                                            (click)="nePasSupprimer()">No</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modifier Hotel-->
<div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true" style="height: 520px;">
    <div class="modal-dialog modal-dialog-scrollable  modal-notify modal-primary xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right submit" mdbBtn color="indigo" mdbWavesEffect
                    aria-label="Close" (click)="basicModal2.hide()">
                    <span aria-hidden="true">Close</span>
                </button>
                <h1 class="dark-grey-text text-center modal-title w-100 couleur" id="myModalLabel">
                    <span> Modify Hotel</span>
                </h1>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <label>
                            Hotel name:
                        </label>
                        <input type="text" [(ngModel)]="newHotel.nom" name="nomHotel" class="form-control"
                            #nom="ngModel" required>
                        <div *ngIf="nom.errors?.required && nom.touched" class="alert alert-danger">
                            Le nom d'hotel est obligatoire
                        </div>
                    </div>
                    <div>
                        <label>
                            Price:
                        </label>
                        <input type="number" [(ngModel)]="newHotel.prix" name="prixHotel" class="form-control"
                            #prix="ngModel" required>
                        <div *ngIf="prix.errors?.required && prix.touched" class="alert alert-danger">
                            Le prix d'hotel est obligatoire
                        </div>
                    </div>
                    <div>
                        <label>
                            Location:
                        </label>
                        <input type="text" [(ngModel)]="newHotel.lieu" name="lieuHotel" class="form-control"
                            #lieu="ngModel" required>
                        <div *ngIf="lieu.errors?.required &&  lieu.touched" class="alert alert-danger">
                            La localisation d'hotel est obligatoire
                        </div>
                    </div>
                    <div>
                        <label>
                            Adresse:
                        </label>
                        <input type="text" [(ngModel)]="newHotel.adresse" name="adresseHotel" class="form-control"
                            #adresse="ngModel" required>
                        <div *ngIf="adresse.errors?.required && adresse.touched" class="alert alert-danger">
                            L'adresse d'hotel est obligatoire
                        </div>
                    </div>
                    <div>
                        <label>
                            telephone:
                        </label>
                        <input type="text" [(ngModel)]="newHotel.telephone" name="telephoneHotel" class="form-control"
                            #telephone="ngModel" pattern="[1-9][0-9]{7}" required>
                        <div *ngIf="telephone.errors?.required && telephone.touched" class="alert alert-danger">
                            Le numero de telephone d'hotel est obligatoire
                        </div>
                        <div *ngIf="telephone.errors?.pattern" class="alert alert-warning">
                            Le numero de telephone doit avoir 8 chiffres
                        </div>
                    </div>
                    <div>
                        <label>
                            Stars number:
                        </label>
                        <input type="number" max="5" [(ngModel)]="newHotel.nbEtoiles" name="nbEtoilesHotel"
                            class="form-control" pattern="[0-5]" #nbEtoiles="ngModel" required>
                        <div *ngIf="nbEtoiles.errors?.required && nbEtoiles.touched " class="alert alert-danger">
                            Le nombre d'etoiles est obligatoire
                        </div>
                        <div *ngIf="nbEtoiles.errors?.pattern" class="alert alert-warning">
                            Le nombre d'etoiles doit être entre 0 et 5
                        </div>
                    </div>
                    <div>
                        <label>
                            Discount:<input type="checkbox" name="promotion" [(ngModel)]="newHotel.promotion"
                                value="promoHotel">
                        </label>
                    </div>
                    <div [hidden]="!newHotel.promotion">
                        <input type="number" [(ngModel)]="newHotel.pourcentage" class="form-control"
                            pattern="[1-8][0-9]" #pourcentage="ngModel" name="pourcentage" value="pourcentage" required>
                        <div *ngIf="pourcentage.errors?.required && pourcentage.touched " class="alert alert-danger">
                            Le pourcentage est obligatoire
                        </div>
                        <div *ngIf="pourcentage.errors?.pattern && pourcentage.dirty" class="alert alert-warning">
                            Le pourcentage est entre 10 et 89
                        </div>
                    </div>
                    <div>
                        <label>
                            Internet:<input type="checkbox" name="internet" [(ngModel)]="newHotel.internet"
                                value="promoHotel" checked>
                        </label>
                    </div>
                    <div>
                        <label>
                            piscine:<input type="checkbox" name="piscine" [(ngModel)]="newHotel.piscine"
                                value="promoHotel" checked>
                        </label>
                    </div>
                    <div>
                        <label>
                            Parking:<input type="checkbox" name="parking" [(ngModel)]="newHotel.Parking"
                                value="promoHotel" checked>
                        </label>
                    </div>
                    <div>
                        <label>
                            Image:
                        </label>
                        <input type="text" [(ngModel)]="newHotel.image" name="imageHotel" class="form-control">
                    </div>
                    <div>
                        <label>
                            Image Galerie:
                        </label>
                        <!--<div *ngFor=" let t of newHotel.image">
                            <input type="text" [(ngModel)]="t" name="imageHotel" class="form-control" [value]=t>

                        </div>-->
                        <!--<div *ngFor=" let g of galerie">
                            <input type="text" [value]="galerie[0]" class="form-control">
                        </div>-->
                        <div *ngFor="let g of newHotel.images">
                            
                            <input type="text" [value]="g" name="" id="" style="width: 300px;">

                        </div>
                        


                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" mdbBtn color="indigo"
                        mdbWavesEffect aria-label="Close" (click)="basicModal2.hide()"
                        (click)="annuler()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="upDate()" aria-label="Close"
                        (click)="basicModal2.hide()" mdbBtn mdbWavesEffect>Save Change</button>
                </div>
            </div>

        </div>
    </div>
</div>