h2{text-align: center;}
h3{text-align: center;
color: #ee16a6;}
#star{color: #ffd000;
      font-size:  30px; ;}
img{
      height: 40vh;
}
.height{
      height: 70vh;
}
.ribbon6 {
      width: 200px;
      height: 40px;
      line-height: 40px;
      position: absolute;
      top: 30px;
      right: -50px;
      z-index: 2;
      overflow: hidden;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border: 1px dashed;
      box-shadow: 0 0 0 3px #57dd43, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
      background: #57dd43;
      text-align: center;
    }