<!--<app-navbar></app-navbar>-->
<app-caroussel></app-caroussel>



<div *ngIf="!authService.isloggedIn">
    <h2>Discover our Hotels in Tunisie</h2>
    <h3> Find The Best Hotel</h3>

</div>
<!-- search -->
<div *ngIf="authService.isloggedIn"><br><br></div>
<div class="mask">
    <div class="d-flex flex-row">

        <div class="input-group mb-5 ">
            <div class="form-outline-sm ">
                <input type="search" placeholder="votre destination" class="form-control w-1 p-3 h-3 mt-2" #input height="10px" />

            </div><button type="button" class="btn btn-primary mw-8 search" (click)="search(input.value)">
                <i class="fas fa-search "></i>
            </button>



        </div>
    </div>
</div>

<!-- se rchfin -->

<div *ngIf="authService.isloggedIn">



    <div class="row">

        <div class="col-md-2 text-right">
            <button type="button" mdbBtn class="relative waves-light btn btn-dark btn-sm" (click)="basicModal.show()" mdbWavesEffect>
                <i class="fa fa-plus"></i>
                New Hotel</button>
        </div>
        <div class="col-md-12 text-center">
            <h1>List of Hotels</h1>
        </div>
    </div>


</div>

<!--Ajouter Hotel-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-notify modal-primary " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">Close</span>
                </button>-->
                <h1 class="dark-grey-text text-center modal-title w-100 couleur" id="myModalLabel">
                    <span> Add new Hotel</span>
                </h1>
            </div>
            <div class="modal-body">

                <app-ajouter-hotel></app-ajouter-hotel>


            </div>

        </div>
    </div>
</div>
<br>
<div class="row  " id="a" data-mdb-toggle="animation" data-mdb-animation="pulse">
    <div class="col mb-4 " style="margin-left: 20px;" *ngFor=" let t of listHotel; let i=index;">
        <div class="card  rounded-3 height " style="width: 25rem;">
            <img class="card-img-top p-0 d-flex justify-content-center " [src]="t.image" alt="Card image cap">

            <div class="ribbons-wrapper" *ngIf="t.promotion">
                <div class="ribbon">
                    <span class="ribbon1"><span>Discount</span></span>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title fw-bold fs-4 text-muted ff-oswald">{{t.nom|titlecase}}</h5>
                    <ngb-rating id="star" [rate]="t.nbEtoiles">
                    </ngb-rating>
                </div>
                <p class="card-text fas fa-map-marker-alt">{{t.lieu|titlecase}}</p>
                <br>
                <div class="d-flex justify-content-between">

                    <div class="font-weight-bold">
                        <span class="fw-bold fs-4 text-dark me-1 "> Price:</span>
                        <span class="fw-bold fs-5 ff-oswald text-dark">{{t.prix}}</span>
                        <span class="text-dark ms-1 fs-7 ">TND</span><br>

                    </div>





                    <div *ngIf="!authService.isloggedIn">
                        <a class="btn btn-primary" (click)="getNavigation('detail', t.id)"> <i class="fas fa-info-circle"></i>Details</a>
                    </div>

                    <div *ngIf="authService.isloggedIn">
                        <a class="btn btn-primary btn-sm" routerLink="/detail" (click)="getNavigation('detail', t.id)">
                            <i class="fas fa-info-circle"></i>
                        </a>

                        <button type="button" mdbBtn class="relative waves-lightbtn btn-warning btn-sm" (click)="basicModal2.show()" mdbWavesEffect (click)="onModifier(t.id,t)">

                            <i class="fa fa-pencil"></i>
                        </button>

                        <button type="button" mdbBtn class="waves-light btn btn-sm btn-danger" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect> <i
                                class="fa fa-trash"></i>
                        </button>

                        <!--Confirmer supprimer-->
                        <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
                                <!--Content-->
                                <div class="modal-content text-center">
                                    <!--Header-->
                                    <div class="modal-header d-flex justify-content-center">
                                        <p class="heading">Are you sure?</p>
                                    </div>

                                    <!--Body-->
                                    <div class="modal-body">
                                        <mdb-icon fas icon="bell" size="4x" class="animated rotateIn"></mdb-icon>
                                    </div>

                                    <!--Footer-->
                                    <div class="modal-footer justify-content-center">
                                        <button mdbBtn color="primary" class="waves-effect" mdbWavesEffect (click)="onSupprimer(t.id)">Yes</button>
                                        <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()" (click)="nePasSupprimer()">No</a>
                                    </div>
                                </div>
                                <!--/.Content-->
                            </div>
                        </div>


                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<!--Modifier Hotel-->
<div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" style="height: 520px;">
    <div class="modal-dialog modal-dialog-scrollable  modal-notify modal-primary xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close pull-right submit"   mdbBtn color="indigo" mdbWavesEffect aria-label="Close" (click)="basicModal2.hide()">
                    <span aria-hidden="true">Close</span>
                </button>-->
                <h1 class="dark-grey-text text-center modal-title w-100 couleur" id="myModalLabel">
                    <span> Modify Hotel</span>
                </h1>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <label>
                            Hotel name:
                        </label>
                        <input type="text" [(ngModel)]="newHotel.nom" name="nomHotel" class="form-control" #nom="ngModel">
                        <div *ngIf="nom.errors?.required && nom.dirty" class="alert alert-danger">
                            Le nom d'hotel est obligatoire
                        </div>

                    </div>
                    <div>
                        <label>
                            Price:
                        </label>
                        <input type="number" [(ngModel)]="newHotel.prix" name="prixHotel" class="form-control" #prix>
                    </div>
                    <div>
                        <label>
                            Location:
                        </label>
                        <input type="text" [(ngModel)]="newHotel.lieu" name="lieuHotel" class="form-control" #lieu>
                    </div>
                    <div>
                        <label>
                            Adresse:
                        </label>
                        <input type="text" [(ngModel)]="newHotel.adresse" name="adresseHotel" class="form-control" #adresse>
                    </div>
                    <div>
                        <label>
                            telephone:
                        </label>
                        <input type="text" [(ngModel)]="newHotel.telephone" name="telephoneHotel" class="form-control" #telephone>
                    </div>
                    <div>
                        <label>
                            Stars number:
                        </label>
                        <input type="number" max="5" [(ngModel)]="newHotel.nbEtoiles" name="nbEtoilesHotel" class="form-control" #nbEtoiles>
                    </div>
                    <div>
                        <label>
                            Discount:<input type="checkbox" name="promotion" [(ngModel)]="newHotel.promotion"
                                value="promoHotel" checked>
                        </label>

                    </div>
                    <div>
                        <label>
                            Internet:<input type="checkbox" name="internet" [(ngModel)]="newHotel.internet"
                                value="promoHotel" checked #promotion>
                        </label>

                    </div>
                    <div>
                        <label>
                            piscine:<input type="checkbox" name="piscine" [(ngModel)]="newHotel.piscine"
                                value="promoHotel" checked #promotion>
                        </label>

                    </div>
                    <div>
                        <label>
                            Parking:<input type="checkbox" name="parking" [(ngModel)]="newHotel.Parking"
                                value="promoHotel" checked #promotion>
                        </label>

                    </div>
                    <div>
                        <label>
                            Image:
                        </label>
                        <input type="text" [(ngModel)]="newHotel.image" name="imageHotel" class="form-control" #image>
                    </div>
                    <div>
                        <label>
                            Image Galerie:
                        </label>
                        <!--<div *ngFor=" let t of newHotel.image">
                            <input type="text" [(ngModel)]="t" name="imageHotel" class="form-control" [value]=t>

                        </div>-->
                        <div *ngFor=" let g of galerie">
                            <input type="text" [value]="galerie[0]" class="form-control">
                        </div>

                    </div>
                    <div lass="text-center">


                        <!--<div>
                                <button (click)="upDate()" aria-label="Close" class="close submit bg-primary" (click)="basicModal2.hide()"
                                    mdbBtn  mdbWavesEffect>
                                    <span aria-hidden="true" class="couleur">Save Change</span></button>
                                    
                                    <button type="button" class="close pull-right submit"   mdbBtn color="indigo" mdbWavesEffect aria-label="Close" (click)="basicModal2.hide()">
                                        <span aria-hidden="true">Close</span>
                                    </button>
                           </div>-->
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" mdbBtn color="indigo" mdbWavesEffect aria-label="Close" (click)="basicModal2.hide()" (click)="annuler()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="upDate()" aria-label="Close" (click)="basicModal2.hide()" mdbBtn mdbWavesEffect>Save Change</button>
                </div>

            </div>

        </div>
    </div>
</div>

<!--<app-footer></app-footer>-->
<!-- nour -->