<footer class="page-footer font-small mdb-color bg-primary darken-3 blue pt-4 ">
    <div class="container-fluid text-center text-md-left ">
        <div class="row">
            <div class="col-md-4  ">
                <h1 class="mb-1">Company Profile</h1>
                <pre>Best Tunisia Travel is the largest independently owned 
travel agency headquartered in Tunisia,
 and consistently ranked among the top 50 
   largest in Tunisia. </pre>
            </div>
            <div class="col-md-4  ">
             <br><br><br>
                <div class="footer-copyright text-center py-3">©2021 Copyright:
                    Best Tunisia Travel
                </div>
            </div>
            <div class="col-md-4 ">
                <h1 class="mb-1">For More Informations</h1>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()"
                    mdbWavesEffect>
                    Contact us
                </button>
            </div>
        </div>
    </div>
  
</footer>

<!--Contact Us-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="dark-grey-text text-center modal-title w-100" id="myModalLabel">
                    <strong> Send us a message</strong>
                </h3>
            </div>
            <div class="modal-body">
                <app-contact></app-contact>
            </div>

        </div>
    </div>
</div>