<div class="modal-body ">
    <div class="row mt-2 d-flex justify-content-center ">
        <div class="col-md-6">
            <label><img src="https://img.icons8.com/ios/40/000000/hotel-check-in.png" /></label> <label>date arivée:</label>
            <div class="md-form md-outline input-with-post-icon datepicker">
                <input placeholder="Select date" type="date" class="form-control">
            </div>
        </div>
    </div>


    <div class="row mt-2 d-flex justify-content-center ">
        <div class="col-md-6">
            <label><img src="https://img.icons8.com/ios/40/000000/sleeping-in-bed.png"/></label> <label>nombre de nuits :</label>
            <select class="form-select">
                <option selected value="none"></option>
                <option *ngFor="let t of nbNuits " value="t">
                    {{t}}
                </option>
        </select>
        </div>
    </div>



    <div class="row mt-2 d-flex justify-content-center ">
        <div class="col-md-6">
            <label><img src="https://img.icons8.com/ios/30/000000/interior.png"/></label> <label> nombre de chambre :</label>
            <select class="form-select">
                <option selected value="none"></option>
                <option *ngFor="let t of nbChambres "  value="t">
                    {{t}}
                </option>
        </select>
        </div>
    </div>


    <div class="row mt-2 d-flex justify-content-center ">
        <div class="col-md-6">
            <label><img src="https://img.icons8.com/ios/50/000000/standing-man.png"/></label> <label>nombre d'adultes :</label>
            <select class="form-select">
                <option selected value="none"></option>
                <option *ngFor="let t of nbAdultes " value="t">
                    {{t}}
                </option>
        </select>
        </div>
    </div>


    <div class="row mt-2 d-flex justify-content-center ">
        <div class="col-md-6">
            <label><img src="https://img.icons8.com/ios/40/000000/baby.png"/></label> <label>nombre d'enfant :</label>
            <select class="form-select">
                <option selected value="none"></option>
                <option *ngFor="let t of nbAdultes " value="t">
                    {{t}}
                </option>
        </select>
        </div>
    </div>
</div>

<div class="modal-footer d-flex justify-content-center ">
    <button type="button" class="btn btn-success btn-lg" data-mdb-dismiss="modal">
      tarifs
    </button>
</div>