
<!-- <div class="card"  >
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body" >
      <h5 class="card-title">{{hotelData.description}}</h5>
      <p class="card-text">description de l'hotel<br></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"></li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card lin    </a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
<div > -->
    <div *ngFor="let t of hotelData">
    <div>{{t.id|json}}</div>

    <a  routerLink="/acceuil" class="btn btn-dark">Retour</a>
</div>

