
 
    <form #f="ngForm">
       
            
            <div>
                <label>
                     Hotel Name:
                </label>
                <input type="text" [(ngModel)]="newHotel.nom" name="nomHotel" class="form-control" #nom>
            </div>
            <div>
                <label>
                    Price:
                </label>
                <input type="number" [(ngModel)]="newHotel.prix" name="prixHotel" class="form-control" #prix>
            </div>
            <div>
                <label>
                    Location:
                </label>
                <input type="text" [(ngModel)]="newHotel.lieu" name="lieuHotel" class="form-control" #lieu>
            </div>
            <div>
                <label>
                    Adresse:
                </label>
                <input type="text" [(ngModel)]="newHotel.adresse" name="adresseHotel" class="form-control"
                    #adresse>
            </div>
            <div>
                <label>
                    telephone:
                </label>
                <input type="text" [(ngModel)]="newHotel.telephone" name="telephoneHotel" class="form-control"
                    #telephone>
            </div>
            <div>
                <label>
              
                   Stars number:
                </label>
                <input type="number" max="5" [(ngModel)]="newHotel.nbEtoiles" name="nbEtoilesHotel" class="form-control"
                    #nbEtoiles>
            </div>
            <div>
                <label>
                    Discount<input type="checkbox" name="promotion" [(ngModel)]="newHotel.promotion"
                        value="promoHotel" >
                </label>

            </div>
            <div>
                <label>
                    Internet   <input type="checkbox" name="internet" [(ngModel)]="newHotel.internet"
                        value="internetHotel" >
                </label>

            </div>
            <div>
                <label>
                    piscine   <input type="checkbox" name="piscine" [(ngModel)]="newHotel.piscine"
                        value="piscineHotel" >
                </label>

            </div>
            <div>
                <label>
                    Parking   <input type="checkbox" name="parking" [(ngModel)]="newHotel.parking"
                        value="parkingHotel" >
                </label>

            </div>
            <div>
                <label>
                  
                    image:
                </label>
                <input type="text" [(ngModel)]="newHotel.image" name="imageHotel" class="form-control" #image>
            </div>
          
            <div class="text-center">
                <div>
                    <button type="submit" (click)="onAjouter()" class="btn btn-success">
                        Add
                    </button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset(f)">
                        Clean
                    </button>
                </div>
            </div>
            <div [hidden]="!f.submitted" class="alert alert-success">
                {{message}}
            </div>

      
        

   
    </form>

